*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.page-1{
    width: 100%;
    min-height: 100vh;
}
.nav-part-1{
    display: flex;
    align-items: center;
    gap: 150px;
}
.nav-part-1 h1{
    font-size: 57px;
}
.logo img {
    height: 120px;
}
.nav-part-2{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.card{
    width: 34%;
    border-radius: 10px;
    padding: 20px;
    
}
.card p{
    margin: 15px 0;
    text-align: left;
}
.card ul li{
    margin-left: 35px;
    line-height: 2.5;
}
.nav-part-2 h3{
    font-size: 20px;
}
.nav-part-2 h3{
    text-decoration: none;
    color: black;
}
.nav-part-2 h3 a:hover{
    text-decoration: underline;
}
.hr{
    border: 2px solid #a5a2a2;
}
.heading{
    margin: 20px;
    text-align: center;
    padding: 35px;
    font-size: 45px;
    background: linear-gradient(90deg, rgb(58, 151, 151) 18%, rgb(216, 216, 216) 38%);
    color: #747171;
}
.card-container{
    padding: 15px;

    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.h1{
    font-size: 45px;
    text-align: center;
    color: #a5a2a2;
}

.h2{
    text-align: center;
}
